@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.6);
}

.max-viewport {
  min-height: 100vh;
}


#banner,
#skills {
  background: url("../images/office.jpg"), linear-gradient(rgba(179, 179, 179, 1), rgba(247, 247, 247, 1));
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.naslov {
  color: #fff;
}

.naslov h1 {
  text-align: center;
}

.progress {
  position: relative;
  height: 25px;
  margin-bottom: 13px;
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 500;
  color: #fafafa;
  background-color: rgba(25, 25, 25, 0.6);

}

.progress-section {
  margin: 140px 20px;
  background-color: transparent;
  
}

.img-fluid {
  width: 100%;
  height: 20%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.project-link {
  color: black;
}

.img-fluid:hover {
  transform: translateY(-50px), translatex(-50px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}



.project-link:hover {
  color: grey;
}

#contact {
  width: 100%;
  height: 85vh;

  background-image: url(../images/keyboard.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.box {
  margin: auto
}

.card {
  padding: 8%;
  padding-top: 35px;
  margin-top: 60px;
  margin-bottom: 80px
}

textarea[name="message"] {
  resize: none
}

#e-mail {
  height: 45px
}

#message {
  height: 120px
}

input.input-box,
textarea.input-box {
  background-color: #fff;
  border: #616161;
  color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
  background-color: #F5F5F5;
  color: #BDBDBD
}

.rm-border:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none
}

form .form-control::-webkit-input-placeholder {
  color: #9E9E9E
}

::-moz-placeholder {
  color: #9E9E9E !important
}
