@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    padding:0;
    margin: 0;
}



.navbar {
  color: #fff;
  background-color: transparent;
  transform: uppercase;

}

.home-inner {
  height: 100vh;
  width:100%;
  background-image: url("../images/night.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:40%;
  z-index: 1
}

.caption h2 {
  color:#fff;
  font-size: 5rem;
  
  
}

.caption p {
  color:#fff;
  font-size: 2rem;
  
}



