@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.6);
}

.max-viewport{
  min-height: 100vh;
}


#banner,
#skills {
  background: url("../images/office.jpg"), linear-gradient(rgba(179, 179, 179, 1), rgba(247, 247, 247, 1));
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.naslov {
  color: #fff;
}

.naslov h1 {
  text-align: center;
}

.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px;
}

.progress {
  height: 20px;
  background: #333;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible
}

.progress-value {
  font-size: 20px;
  color: #fff;
}

.progress .progress-bar {
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

.progress .progress-value {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: -30px;
  right: -25px
}

.progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #fff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 1;
  transform: rotate(35deg)
}

.img-fluid {
  width:100%;
  height:20%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#contact {
  width: 100%;
  height: 70vh;
   
  background-image: url(../images/keyboard.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.box {
    margin: auto
}

.card {
    padding: 8%;
    padding-top: 35px;
    margin-top: 60px;
    margin-bottom: 80px
}

textarea[name="message"] {
    resize: none
}

#e-mail {
    height: 45px
}

#message {
    height: 120px
}

input.input-box,
textarea.input-box {
    background-color: #fff;
    border: #616161;
    color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
    background-color: #F5F5F5;
    color: #BDBDBD
}

.rm-border:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E
}

::-moz-placeholder {
    color: #9E9E9E !important
}

